/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  background:rgb(61, 60, 60);
}

header {
  background: #333;
}

h1 {

  font-size: 80px;
 
}

h2 {
  font-size: 30px;
}

a {
  color: #d21034;
}

/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
}

/* Selecting elements by ID */
#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#figure {
  position: relative;
}

#bio-name {
  position: absolute;
  top: 150px;
  left: 30px;
}

#main-bio {
  width: 70%;
}

#contact-info {
  width: 30%;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
